[submodule "hapi-fhir"]
	path = hapi-fhir
	url = git@github.com:ShahimEssaid/hapi-fhir.git
[submodule "projects/project-jpaserver-starter"]
	path = projects/project-jpaserver-starter
	url = git@github.com:ShahimEssaid/hapi-fhir-jpaserver-starter.git
