[submodule "hapi-fhir"]
	path = hapi-fhir
	url = git@github.com:ShahimEssaid/hapi-fhir.git
[submodule "projects/jpaserver-starter-build/jpaserver-starter"]
	path = projects/jpaserver-starter-build/jpaserver-starter
	url = git@github.com:ShahimEssaid/hapi-fhir-jpaserver-starter.git
